<!DOCTYPE html>
<html>
<head>
  <title>BearBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>BearBnb</h1>
  <% if flash[:notices] %>
    <div class="notices">
      <% flash[:notices].each do |msg| %>
        <p><b><%= msg %></b></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <% if current_user %>
      <p>Welcome <%= current_user_name %></p>
      <%= button_to "Log Out", session_url, method: :delete %>
    <% else %>
      <p><%= link_to "Sign Up", new_user_url %></p>
      <p>or</p>
      <p><%= link_to "Log In", new_session_url %></p>
    <% end %>
  </div>
</header>
<body>

<%= yield %>

</body>
</html>
